:root {
  font-family: Outfit, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  color: #000000;
  width: 100%;
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  cursor: default;
  list-style: none;
}
